<app-navbar></app-navbar>

<div class="container">
    <div class="card text-center mt-5" *ngIf='UserModel'>
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
           
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">User Information : </h5>
          <p class="card-text">Username : <strong>{{ UserModel.userName }}</strong></p>
          <p class="card-text">Full Name : <strong>{{ UserModel.fullName }}</strong></p>
          <p class="card-text">Email : <strong>{{ UserModel.email }}</strong></p>
          
          <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
        </div>
      </div>
</div>
